<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiviTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F41B5EDE209EF61A00358316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41B5EF2209EF62000358316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41B5EFD209EF62100358316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
